<div class="container__ToDo">
  <h3 class="ToDo--title">Tasks</h3>
  <div class="ToDo--NewTasks">
    <input size="15" 
    type="text"
    placeholder="Write your task" 
    [(ngModel)]="task" 
    minlength="4" maxlength="15">
    <button (click)="newTask()">Write</button>
  </div>
  <div class="ToDo--tasksList" >
    <p class="none--tasksList" *ngIf="tasks.length < 1">No tienes tareas aun.</p>
    <ul>
      <li *ngFor="let task of tasks; index as i">{{ task }} 
        <div class="container--buttons">
          <button [disabled]="btnDisabled" (click)="done(i)">Done</button>
          <button (click)="removeTasks(i)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>